<!DOCTYPE html>
<?php require_once '../backend/session.php'; ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Elvin Abbasli, Seho Tanaka">
    <meta name="keywords" content="CyberConf, conferences, IT events, Cyber Security">
    <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
    <title>CyberConf 2020 | Schedules</title>
    <link rel="icon" href="../images/logo-secondv.png" sizes="48x48" type="image/png">
    <!-- to add the image to the title bar -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"> <!-- bootstrap link -->
    <link rel="stylesheet" type="text/css" href="../css/schedules.css">
    <script src="https://kit.fontawesome.com/942ca677f7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a href="index.html">
            <img id="logo-img" src="../images/logo-secondv.png" width="30" height="30" alt="CyberConf Logo">
        </a>
        <a class="navbar-brand" href="index.html">
            <h1>CyberConf 2020</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-4" id="navbarNav">
            <ul class="navbar-nav nav ml-xl-5">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <?php
                $profile = "<li class='nav-item'><a class='nav-link' href='profile.html'>Profile</a></li>";
                if (isset($_SESSION["HOST_SESSION"])) {
                    echo $profile;
                }
                ?>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Schedules <span class="sr-only">(current)</span></a>
                    <!-- aims to hide an element to all devices except screen readers with .sr-only.  -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tickets.html">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href="contact.html">Contact</a>
                </li>
                <?php

                $signin = "<div><a href='' class='btn btn-info btn-rounded ml-xl-5' data-toggle='modal'data-target='#elegantModalForm'>Sign in</a></div>";

                $logout = "<div><a href='../backend/logout.php' class='btn btn-info btn-rounded ml-xl-5' >Log out</a></div>";

                if (isset($_SESSION["HOST_SESSION"])) {
                    echo $logout;
                } else {
                    echo $signin;
                } ?>
                <!-- Modal -->
            </ul>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content form-elegant">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h3 class="modal-title w-100 text-dark font-weight-bold my-3" id="myModalLabel"><strong>Sign
                                in</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body page-signin mx-4">
                        <!--Body-->
                        <form class="text-dark" action="../backend/signin.php" method="post">
                            <div class="md-form mb-5 form-group">
                                <input type="email" name="email" id="Form-email1" class="form-control validate" required
                                       aria-required="true" aria-invalid="false">
                                <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
                            </div>
                            <div class="md-form pb-3 form-group">
                                <input type="password" name="password" id="Form-pass1" class="form-control validate"
                                       required aria-required="true" aria-invalid="false">
                                <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
                            </div>
                            <div class="text-center mb-3">
                                <button type="submit" id="signin-button"
                                        class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer mx-7 pt-3 mb-1">
                        <p class="font-small text-dark d-flex justify-content-end">Not a member? <a href="register.html"
                                                                                                    class="blue-text ml-1">Register</a>
                        </p>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container mt-3">
        <h1 class="text-center">Schedules</h1>
        <table class="table table-hover jumbotron mb-3">
            <tbody>
            <tr>
                <th scope="row">08:00</th>
                <td colspan="3">Doors open / Registration for the conference</td>
            </tr>
            <tr>
                <th scope="row">09:00</th>
                <td colspan="3">Welcome speech</td>
            </tr>
            <tr>
                <th scope="row">09:30</th>
                <td colspan="3">How to hack without being caught
                    <div style="font-size: 12px;">Elliot Alderson</div>
                </td>

            </tr>
            <tr>
                <th scope="row">10:30</th>
                <td colspan="3">Social engineering as one of the biggest cyber security threats
                    <div style="font-size: 12px;">Kate Libby</div>
                </td>
            </tr>
            <tr>
                <th scope="row">11:30</th>
                <td colspan="3">Coffee break</td>
            </tr>
            <tr>
                <th scope="row">12:00</th>
                <td colspan="3">Cyber Warfare and the future of the Cyber Security
                    <div style="font-size: 12px;">David Lightman</div>
                </td>
            </tr>
            <tr>
                <th scope="row">13:00</th>
                <td colspan="3">Closing remarks</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer class="page-footer">
    <div id="contact-info">
        <div class="container ">
            <div class="row pt-3">
                <section id="hours" class="col-sm-4">
                    <h5>Hours:</h5>
                    Monday-Thurs: 10:00am - 08:00pm<br>
                    Fri: 11:00am - 4:30pm<br>
                    Saturday and Sunday Closed
                    <hr class="visible-xs">
                </section>
                <section id="address" class="col-sm-4">
                    <h5>Venue:</h5>
                    5 Akadeemia Road<br>
                    Tallinn, 12611
                    <p><span id="additional-contact-info">* You can take trolley number 3 from the city centre or bus number 11 (the stop is Keemia).</span>
                    </p>
                    <hr class="visible-xs">
                </section>
                <section id="contact" class="col-sm-4">
                    <h5>Contact:</h5>
                    <p>Send us <a href="mailto:abelvi@ttu.ee?cc=setana@taltech.ee&subject=CyberConf%202020">email</a> or
                        call us via +372 5845 6759.</p>
                    <hr class="visible-xs">
                </section>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-md-6 text-sm-center mb-sm-3 mt-3 float-left copyright" style="background-size: cover;">&copy;
            Copyright CyberConf 2020
        </div>
        <div class="col-md-6 text-right text-sm-center float-right mt-md-3 mb-sm-3" style="background-size: cover;">
            <div class="social-icons text-dark ">
                <a href="">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram-square fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/signin.js"></script> <!-- Link to the Vanilla JS file to clear the signin input modal -->
</body>
</html>